<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <%= link_to root_path, class: 'nav-link collapsed' do %>
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      <% end %>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <%= link_to app_projects_path, class: 'nav-link collapsed' do %>
        <i class="bi bi-journal-text"></i>
        <span>Projects</span>
      <% end %>
    </li><!-- End Profile Page Nav -->
    
  </ul>

</aside><!-- End Sidebar-->